include LICENSE
include README.md
include faster_eth_utils/__json/eth_networks.json

recursive-include scripts *
recursive-include tests *

global-include *.pyi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune .tox
prune venv*
